<nav class="navbar navbar-dark bg-dark">
   <a href="/" class="navbar-brand">Scraping Satire</a>
  <form class="form-inline">
    <button class="btn btn-outline-success" type="button">Get new articles!</button>
    <button class="btn btn-sm btn-outline-secondary" type="button">view saved articles</button>
  </form>
</nav>

<div id="container">
      <h1>America's Finest News Scraper</h1>
     
      <div id="articles"></div>
      <div id="notes"></div>

       <table class="savedArticles">
        <tr>

        </tr>
      </table>
    </div>
    